@model ListAdminOrderPageVM
@{
    ViewBag.Title = "ListAppUserOrders";
}

<div class="panel-body">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>


                <tr>
                    <th>ID</th>
                    <th>Kullanıcı ismi</th>
                    <th class="hidden-phone">TotalPrice</th>
                    <th class="hidden-phone">Status</th>
                    <th class="hidden-phone">Yaratma Tarihi</th>
                    <th class="hidden-phone">Güncelleme Tarihi</th>
                    <th class="hidden-phone">Silme Tarihi</th>
                    <th class="hidden-phone">Sil</th>
                    <th class="hidden-phone">Güncelle</th>
                    <th class="hidden-phone"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (AdminOrderVM item in Model.AdminOrders)
                {
                    <tr class="gradeX">
                        <td>@item.ID</td>
                        <td>@item.UserName</td>
                        <td class="center hidden-phone">@item.TotalPrice</td>
                        <td class="center hidden-phone">@item.Status</td>
                        <td class="center hidden-phone">@item.CreatedDate</td>
                        <td class="center hidden-phone">@item.DeletedDate</td>
                        <td class="center hidden-phone">@item.ModifiedDate</td>
                        <td class="center hidden-phone">@Html.ActionLink("Delete", "DeleteOrder", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                        <td class="center hidden-phone">@Html.ActionLink("Güncelle", "UpdateOrder", new { id = item.ID }, new { @class = "btn btn-warning" })</td>
                        <td class="center hidden-phone">@Html.ActionLink("Detail", "ListAppUserOrderDetails", "OrderDetail", new { id = item.ID }, new { @class = "btn btn-primary" })</td>

                    </tr>
                }




            </tbody>
        </table>

    </div>
</div>
<script src="~/Areas/Admin/AdminScripts/AdminProductDTJ.js"></script>

